@import url('https://fonts.googleapis.com/css?family=Abel|Solway&display=swap');
img {
  display: inline-block;
}

body {
    font-family: 'Abel';
    margin: auto 100px;
}
#search {
    font-family: 'Abel';
    font-weight: bold;

}